#header_reg{
	height: 100px;
	background-color: #79589F;
	margin-top:-23;
	margin-left: -8px;
	margin-right: -8px;
}
#header_index{
	text-align: center;
	color:white;
	font-size: 40px;
	position: relative;
	top:22px;
}