#header_reg{
	height: 74px;
	background-color: #79589F;
	margin-top:-27px;
	margin-left: -8px;
	margin-right: -8px;
}
#header_index{
	text-align: center;
	color:white;
	font-size: 40px;
	position: relative;
	top:10px;
}
.reg_label{
	font-size: 23px;
}
.reg_input{
	margin-top: 10px;
	width: 251px;
	height: 37px;
	font-size: 23px;
	border: 1px solid #d1d5da;
	border-radius: 3px;
}
#reg_form{
	margin-top: 30px;
	margin-left: 30px;
}
#reg_img{
	border: 1px solid #d1d5da;
	border-radius: 3px;
}
#reg_submit{
	width: 251px;
    height: 37px;
    font-size: 27px;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    color: white;
    border:1px solid #28a745;
    border-radius: 3px;
}
#reg_submit:hover{
	cursor: pointer;
}
#reg_error{
	margin-top: 30px;
	color:red;
	font-size: 25px;
}