#header_reg{
	height: 74px;
	background-color: #79589F;
	margin-top:-27px;
	margin-left: -8px;
	margin-right: -8px;
}
#header_index{
	text-align: center;
	color:white;
	font-size: 40px;
	position: relative;
	top:10px;
}
#logout_logo{
	width:55px;
	height:55px;
	position: absolute;
    top: 20px;
    right: 2%;
    border-radius: 41px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
